In [11]:
import numpy as np
print("ones", np.ones(5))
print("arange", np.arange(5))
print("linspace", np.linspace(0., 17., 5))  # 0-1 사이의 균일한 간격의 5개 숫자
print("random", np.random.uniform(size=7))  # 7개의 랜덤값
print("custom", np.array([2,3,5]))  # 파이썬의 list나 tuple을 받아서 NumPy 배열로 바꿔준다.

ones [ 1.  1.  1.  1.  1.]
arange [0 1 2 3 4]
linspace [  0.     4.25   8.5   12.75  17.  ]
random [ 0.1014485   0.16516826  0.91629606  0.49931738  0.22687757  0.52336433
  0.24766253]
custom [2 3 5]

In [12]:
np.ones(5, dtype=np.int64)

array([1, 1, 1, 1, 1], dtype=int64)

In [13]:
np.arange(5).astype(np.float64)

array([ 0.,  1.,  2.,  3.,  4.])

In [8]:
np.array([[1,2], [3,4], [5,6]])

array([[1, 2],
       [3, 4],
       [5, 6]])

In [1]:
%pwd

'D:\\work\\jupyter\\jupyter'

In [2]:
%ls

 D 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 900E-C4EC

 D:\work\jupyter\jupyter 디렉터리

2017-01-06  오전 11:24    <DIR>          .
2017-01-06  오전 11:24    <DIR>          ..
2017-01-06  오전 11:00    <DIR>          .ipynb_checkpoints
2017-01-05  오후 04:28            57,447 book_42p.ipynb
2017-01-05  오후 04:28               194 egos.py
2017-01-05  오후 04:29    <DIR>          facebook
2017-01-05  오후 04:28                18 j.bat
2017-01-05  오후 04:28                30 jhs_test.txt
2017-01-05  오후 04:28             3,537 jupyter notebook - first meet.ipynb
2017-01-05  오후 04:35    <DIR>          minibook-2nd-code
2017-01-06  오전 11:00             4,622 numpy1.ipynb
2017-01-06  오전 11:24             3,079 numpy2.ipynb
2017-01-05  오후 04:28           158,755 pandas1.ipynb
2017-01-05  오후 05:09            59,319 pandas2.ipynb
2017-01-06  오전 09:57            89,350 pandas3.ipynb
2017-01-05  오후 04:28            72,837 Testing Jupyter.ipynb
2017-01-05  오후 04:28               636 Untitled.ipynb
2017-01-05  오후 04:28                72 Untitled1.ipynb
              13개 파일             449,896 바이트
               5개 디렉터리  307,655,372,800 바이트 남음

In [4]:
import pandas as pd
data = pd.read_csv('./minibook-2nd-code/chapter2/data/nyc_data.csv')
pickup = data[['pickup_longitude', 'pickup_latitude']].values
pickup

array([[-73.955925,  40.781887],
       [-74.005501,  40.745735],
       [-73.969955,  40.79977 ],
       ...,
       [-73.993492,  40.729347],
       [-73.978477,  40.772945],
       [-73.987206,  40.750568]])

In [5]:
pickup.shape

(846945, 2)

In [7]:
import numpy as np
x = np.arange(1,11)
x

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [8]:
x_row = x.reshape((1,-1))
x_row

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]])

In [9]:
x_row2 = x.reshape((2,-1))
x_row2

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [10]:
x_col = x[:, np.newaxis]
x_col

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10]])

In [11]:
np.dot(x_col, x_row)

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [  2,   4,   6,   8,  10,  12,  14,  16,  18,  20],
       [  3,   6,   9,  12,  15,  18,  21,  24,  27,  30],
       [  4,   8,  12,  16,  20,  24,  28,  32,  36,  40],
       [  5,  10,  15,  20,  25,  30,  35,  40,  45,  50],
       [  6,  12,  18,  24,  30,  36,  42,  48,  54,  60],
       [  7,  14,  21,  28,  35,  42,  49,  56,  63,  70],
       [  8,  16,  24,  32,  40,  48,  56,  64,  72,  80],
       [  9,  18,  27,  36,  45,  54,  63,  72,  81,  90],
       [ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100]])

In [12]:
print(x_row*x_row)
print(x_row2*x_row2)

[[  1   4   9  16  25  36  49  64  81 100]]
[[  1   4   9  16  25]
 [ 36  49  64  81 100]]

In [13]:
x_row*x_col

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [  2,   4,   6,   8,  10,  12,  14,  16,  18,  20],
       [  3,   6,   9,  12,  15,  18,  21,  24,  27,  30],
       [  4,   8,  12,  16,  20,  24,  28,  32,  36,  40],
       [  5,  10,  15,  20,  25,  30,  35,  40,  45,  50],
       [  6,  12,  18,  24,  30,  36,  42,  48,  54,  60],
       [  7,  14,  21,  28,  35,  42,  49,  56,  63,  70],
       [  8,  16,  24,  32,  40,  48,  56,  64,  72,  80],
       [  9,  18,  27,  36,  45,  54,  63,  72,  81,  90],
       [ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100]])